/*
Estilos CSS del sitio
*/
/* 
    Created on : 19-sep-2018, 16:22:55
    Author     : 209
*/

.colorInput{
	background: #009BDB;
	color: #FFF;
}

.colorInput2{
	/*background: #BF0811;*/
	color: #EABE00;
	font-style: italic;
}


body{
        background-image: url(../imagenes/fondo.gif);
	background-size: 100% 100%;
	background-attachment: fixed;
}

button
{
      background-color: #61DFF3;
}

#imgFoto
{
    border-radius: 50px;
    
}

