

/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

/**
 * Description of estilos_venta
 *
 * @author Hector
 */
class estilos_venta {
    //put your code here
    
    .imag{ 
          background: paisaje2.jpg
}
.title{
    style color: white; 
}
    
     .auto-style1 {
            width: 36%;
            height: 274px;
        }
        .auto-style2 {
            width: 241px;
            height: 30px;
        }
        .auto-style3 {
            width: 241px;
            height: 22px;
        }
        .auto-style4 {
            height: 22px;
        }
        .auto-style5 {
            width: 241px;
            height: 23px;
        }
        .auto-style6 {
            height: 23px;
        }
        .auto-style7 {
            height: 52px;
            width: 2px;
        }
        .auto-style8 {
            width: 241px;
            height: 26px;
        }
        .auto-style9 {
            height: 26px;
        }
        .auto-style10 {
            width: 241px;
            height: 21px;
        }
        .auto-style11 {
            height: 21px;
        }
        .auto-style12 {
            width: 241px;
            height: 52px;
        }
        .auto-style14 {
            height: 30px;
        }
}
